a
{
	color: black;
}
body
{
	font-size: 18px;
}
h1
{
	margin:10px;
}
h2
{
	margin: 10px;
}
.navbar
{
	margin-bottom:0px;
}
.navbar-inverse
{
	background-color: black;
	border-color: black;
}
p
{
	margin: 5px 0px 5px 10px;
}
.header 
{
	background-color: #f1f1f1;
	padding: 20px;
	text-align: center;
}
.column 
{
	float: left;
	padding: 10px;
}
.column.inputs 
{
	width: 90%;
	height: 150px;
}
.column.iheaders 
{
	width: 30%;
	height: 40px;
}
.column.buttons 
{
	width: 10%;
}
.column.bheaders 
{
	width: 10%;
	height: 70px;
}
.column.halved {
	width: 50%;
}
.row
{
	margin: 0px 0px 0px 0px;
}
.row:after 
{
	content: "";
	display: table;
	clear: both;
}
@media screen and (max-width: 600px) 
{
	.column.side, .column.middle 
	{
		width: 100%;
	}
}
html, body, #editor {
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
}

textarea, #editor div {
  display: inline-block;
  width: 33%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #f6f6f6;
  font-size: 14px;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

code {
  color: #f66;
}